@charset "UTF-8";
/* 로그인 */
/* .login{width:800px; height:235px; margin:200px auto 0} */
.login {
  position: absolute;
  width: 800px;
  height: 235px;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -400px; }

/* 로그인 박스 위치 수정 2017.11.29 */
.login h1 {
  font-size: 22px;
  font-weight: bold;
  line-height: 35px; }

.login > div {
  border: 1px solid #ededed;
  background: #fbfbfb url("../img/login_visual.png") no-repeat 135px 75px;
  width: 100%;
  height: 250px;
  padding-top: 80px;
  box-sizing: border-box; }

.loginFrm ul {
  width: 253px;
  margin-left: 330px; }

.loginFrm ul input[type="text"], .loginFrm ul input[type="password"] {
  width: 100%;
  height: 34px;
  line-height: 34px;
  padding-left: 10px;
  font-size: 13px;
  color: #777;
  box-sizing: border-box;
  margin-bottom: 5px; }

.loginFrm ul li label, .loginFrm ul input[type="checkbox"] {
  display: inline-block;
  height: 13px;
  font-size: 13px;
  margin-left: 5px;
  vertical-align: middle; }

.loginFrm button {
  background: #008ED7;
  color: #fff;
  width: 112px;
  height: 73px;
  margin-left: 15px;
  vertical-align: top;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer; }

.loginFrm button.disabled {
  background: #ccc;
  cursor: inherit; }

.find {
  margin-left: 330px; }

.find li {
  float: left;
  margin-top: 10px;
  padding-left: 14px;
  background: url("../img/util_bg.gif") no-repeat 7px center; }

.find li:first-child {
  padding-left: 0;
  background: none; }

.find li a {
  font-size: 13px;
  color: #666; }

.pop {
  padding: 20px 15px;
  background: #fff; }

.pop .top button {
  background: url("../img/closeBtn.png") no-repeat center;
  text-indent: -9999px;
  min-width: 35px;
  border: none;
  cursor: pointer; }

.pop .btn {
  text-align: center; }

.pop .btn button:first-child + button {
  margin-left: 5px; }

.loginPop {
  top: 50%;
  left: 50%;
  margin-left: -255px; }

.loginPop > p {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  margin: 10px 0 20px; }

.loginPop form {
  width: 400px;
  margin: 0 50px 0 30px; }

.loginPop dl dt, .loginPop dl dd {
  float: left;
  margin-bottom: 15px; }

.loginPop dl dt {
  width: 150px;
  font-weight: bold;
  text-align: right;
  line-height: 30px; }

.loginPop dl dd {
  width: calc(100% - 150px); }

.loginPop dl dd input {
  width: 95%;
  margin-bottom: 5px; }

.loginPop dl dd input + p {
  line-height: 20px;
  color: #f00;
  display: none; }

.loginPop dl dd input#newpw + p {
  color: #000;
  display: block; }

.errPop {
  left: 50%;
  top: 50%; }

.errPop > p {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px; }

/* 메시지 조회 2017.08.04 */
#content .searchFrm table, #content .half, #contnet .one {
  border: none; }

#content .searchFrm table th, #content .searchFrm table td, #content .half th, #content .half td, #content .one th, #content .one td {
  height: 40px;
  line-height: 1.5em;
  border-top: 1px solid #e5e5e5;
  font-size: 13px;
  text-align: left;
  padding-left: 10px; }

#content .searchFrm table th, #content .half th, #content .one th {
  background: #f5f5f5;
  border-left: none; }

#content .searchFrm table td.period ul {
  display: inline-block;
  vertical-align: middle; }

#content .searchFrm table td.period ul li {
  float: left;
  padding-left: 20px;
  background: url("../img/util_bg.gif") no-repeat 10px 50%; }

#content .searchFrm table td.period ul li:first-child {
  background: none;
  padding-left: 0; }

#content .searchFrm table td select {
  width: 130px; }

#content .half td.last input {
  width: 80%; }

#content .modify {
  margin: 30px 0 40px;
  border: none; }

#content .modify input[type="text"] {
  width: calc(100% - 20px);
  margin-top: 7.5px; }

#content table textarea {
  width: calc(100% - 10px);
  height: 5em;
  margin: 10px 0 4.5px;
  overflow: auto; }

/* 2017.08.04 보류
#content dl input[type="text"], #content dl input[type="password"]{width:188px}
#content dl input[type="file"]{width:73px; border:0}
#content dl input[type="radio"] + label{font-weight:normal; background:none}
#content dl dd label{font-weight:bold; padding-right:10px; background:url('../img/util_bg.gif') no-repeat right center; margin-right:5px}
#content dl dd .file +  a img{vertical-align:middle; margin-top:-1px}
#content dl.half{margin-top:20px}
#content dl.profile input[type="text"]{margin-right:42px}
#content dl.profile .phone input[type="text"]{margin:0}
#content dl.profile .phone .lastTel{margin-right:10px !important}
#content dl.excel{margin-top:30px}
#content dl .linh_none, .feePopup dl .linh_none{height:auto; line-height:initial}
#content dl .linh_none input{margin-top:13px}
#content dl .linh_none table{margin:13px 0}
#content dl .send, #content dl .receive{width:calc(50% - 190px)}
#content dl dd .pwChk{top:17px; left:450px}
#content dl dd p{line-height:initial; margin:8px 0 13px}
.feePopup dl dd.linh_none td{text-align:right}
#content dl .hei_88{height:88px; line-height:88px}
#content dl .phone input{width:50px}

#content dl #cnt2{margin-top:0}
*/
#content h3 {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 20px; }

#content .location + h3 {
  margin-top: 0; }

#content h3 + .half {
  margin: 0; }

#content .half dd {
  width: calc(50% - 190px); }

#content .half dt:first-child + dd + dt, #content .half dt:first-child + dd + dt + dd {
  border: 0;
  height: 41px;
  line-height: 41px; }

#content .half dd.last {
  width: calc(100% - 190px); }

#content .calendar {
  margin-top: -3px;
  display: inline-block;
  vertical-align: middle; }

#content .calendar input[type="text"] {
  padding-left: 0;
  text-indent: 40px;
  width: 168px; }

#content .calendar input + img {
  vertical-align: middle;
  border: 1px solid #cecece;
  margin-left: -32px;
  width: 30px; }

#content h4 {
  margin-bottom: 5px; }

#content table, .feePopup table {
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
  border-spacing: 0; }

#content table thead, .feePopup table thead {
  background: #f5f5f5; }

#content table th, #content table td, .feePopup table th, .feePopup table td {
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  height: 35px;
  text-align: center;
  font-size: 13px; }

#content table.half_list {
  margin-bottom: 10px; }

#content table.half_list th, .feePopup table.half_list th {
  line-height: 17.5px;
  border: 1px solid #e5e5e5; }

#content table td.txt_left {
  padding-left: 10px; }

#content table .msg {
  max-width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

#content .stat {
  margin-top: 30px; }

#content .tab div:first-child {
  text-align: right; }

#content .tab button {
  width: 50%;
  margin: 30px 0;
  background: #eee;
  color: #000; }

#content .tab button.on {
  background: #4f5765;
  color: #fff; }

#content .stat .dateSelect {
  height: 32px;
  line-height: 32px;
  padding-left: 15px;
  width: 120px;
  margin-top: 30px; }

#content .stat .compare {
  text-align: right;
  font-size: 15px;
  margin-bottom: 35px;
  height: 50px; }

#content .stat .compare button {
  margin: 0;
  margin-left: 10px;
  min-width: inherit;
  border: 0;
  background: none;
  height: auto;
  line-height: inherit;
  padding: 0;
  vertical-align: middle; }

#content .stat .compare p {
  display: none;
  text-align: right;
  font-size: 15px;
  color: #777;
  margin-top: 5px; }

#content .stat .compare p span {
  margin-left: 10px;
  color: #333; }

#content .stat .tab .tabView {
  display: none; }

#content .stat .tab .btn + .tabView {
  display: block; }

#content .stat .tableWrap {
  width: 100%;
  overflow: auto; }

#content .stat table {
  width: 100%; }

#content .stat table th, #content .stat table td {
  text-align: center;
  height: 40px;
  line-height: 40px;
  border: 1px solid #e1e1e1;
  font-size: 14px;
  color: #333;
  background: #fff; }

#content .stat table td {
  color: #000; }

#content .stat table td a {
  color: #11a3df;
  text-decoration: underline; }

#content .stat .more {
  background: none;
  text-align: center;
  padding: 0;
  margin-top: 40px;
  border: none; }

#content .stat .more .moreBtn {
  background: #80a1ae;
  width: 155px;
  color: #fff;
  height: 36px;
  line-height: 36px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 15px;
  padding: 0;
  border: 0;
  margin: 0; }

#content .more .moreBtn img {
  margin-left: -15px;
  margin-right: 10px; }

#content .customer_info select {
  width: 80px; }

#content .half_layout div {
  width: 55%; }

#content .half_layout div:first-child {
  width: 40%; }

#content .half_layout div input {
  text-align: center;
  padding-left: 0; }

#content .half_layout div input.txt_left {
  padding-left: 10px; }

#content .service_info input[type="text"] {
  width: 178px; }

#content .service_info td.linh_none input {
  margin: 7.5px 0; }

#content .service_info dd.s_name input[type="text"] {
  width: 135px; }

#content .service_info button {
  width: 100px; }

#content .contract_list tbody tr td:first-child {
  color: #f00; }

#content .contract_list input[type="text"] {
  width: 128px; }

#content .contract_list .txt_wid input {
  width: 50px;
  text-align: center;
  padding-left: 0; }

#content .step li {
  float: left;
  width: 256px;
  position: relative;
  height: 52px;
  line-height: 52px;
  margin-left: -19px; }

#content .step li:first-child {
  margin-left: 0; }

#content .step img, #content .step input[type="radio"], #content .step label, #content .step p {
  position: absolute; }

#content .step img {
  height: 100%; }

#content .step input[type="radio"] {
  top: 20px;
  left: 50px; }

#content .step label, #content .step p {
  display: inline-block;
  padding-left: 65px;
  width: calc(100% - 65px);
  font-size: 13px; }

#content .step1 {
  z-index: 6; }

#content .step2 {
  z-index: 5; }

#content .step3 {
  z-index: 4; }

#content .step4 {
  z-index: 3; }

#content .step5 {
  z-index: 2; }

#content caption {
  text-align: left;
  margin-bottom: 10px;
  font-weight: bold; }

#content caption span {
  color: #f00; }

#content .kind {
  width: 200px; }

#content .kind h3, #content .menu h3 {
  margin-top: 0; }

#content .kind select {
  width: 150px; }

#content .menu fieldset div {
  margin-left: 30px; }

#content .menu fieldset label {
  width: calc(100% - 25px);
  display: inline-block;
  font-size: 14px;
  margin-bottom: 3px; }

#content .menu fieldset div label {
  width: calc(100% - 25px);
  display: inline-block;
  font-size: 13px;
  margin-bottom: 0; }

#content .menu #check2, #content .menu #check3 {
  margin-top: 20px; }

/* popup 2017.08.11 수정 */
.bg {
  background: #000;
  opacity: .7;
  filter: Alpha(opacity=70);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  z-index: 10; }

.feePopup, .layerPop {
  background: #fff;
  width: 850px;
  height: auto;
  top: 3%;
  left: 50%;
  padding: 20px 15px;
  border: 1px solid #000;
  box-sizing: border-box;
  display: none;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 15; }

.feePopup .top, .layerPop .top {
  height: 50px; }

.feePopup .top h5, .layerPop .top h5 {
  font-size: 20px; }

.feePopup .top button, .layerPop .top button {
  background: url("../img/btn_close.png") no-repeat center;
  text-indent: -9999px;
  min-width: 35px;
  border: none;
  margin-top: 0; }

.feePopup .one, .layerPop .one {
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
  border-spacing: 0;
  border-top: 0; }

.feePopup .one > tbody > tr > th, .feePopup .one > tbody > tr > td, .layerPop .one > tbody > tr > th, .layerPop .one > tbody > tr > td {
  text-align: left; }

.feePopup .one > tbody > tr:first-child > th, .feePopup .one > tbody > tr:first-child > td, .layerPop .one > tbody > tr:first-child > th, .layerPop .one > tbody > tr:first-child > td {
  border-top: 1px solid #e5e5e5; }

.feePopup .one > tbody > tr > th, .layerPop .one > tbody > tr > th {
  background: #f5f5f5;
  padding-left: 10px; }

.feePopup .one > tbody > tr > td, .layerPop .one > tbody > tr > td {
  padding-left: 10px; }

.feePopup dl dd, .layerPop dl dd {
  width: calc(100% - 150px);
  padding-left: 10px; }

.feePopup table table, .layerPop table table {
  margin: 20px 0;
  width: 99%; }

.feePopup .btn, .layerPop .btn {
  margin-top: 50px;
  text-align: center; }

.layerPop table thead {
  background: #f5f5f5; }

.layerPop table th, .layerPop table td {
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  line-height: 35px;
  text-align: center;
  font-size: 13px; }

.layerPop table.half_list {
  border-spacing: 0;
  border-collapse: collapse; }

.layerPop table.half_list th {
  line-height: 17.5px;
  border: 1px solid #e5e5e5; }

/* 서비스관리 */
/* 2017.11.22 수정 */
.service_manage {
  width: 100%;
  margin: 20px auto 0; }

.service_manage .w_product > div.clear > div {
  float: left; }

.service_manage .w_product > div.clear .view {
  position: relative;
  width: 360px;
  height: 698px;
  background: url("../img/productImg01.png") no-repeat left top;
  padding: 58px 17px 64px;
  box-sizing: border-box; }

.service_manage .w_product .view .viewWrap {
  margin-top: 0;
  padding: 0;
  overflow-y: scroll;
  height: 100%;
  width: 100%; }

.service_manage .w_product .view .viewWrap ul li:first-child {
  margin-top: 0; }

.service_manage .w_product .view .viewWrap ul li div {
  float: left;
  position: relative;
  border: 1px solid #c4c4d1; }

.service_manage .w_product .view .viewWrap ul li div:first-child + div {
  border-left: none; }

.service_manage .w_product .view .viewWrap ul li span, .service_manage .w_product .view .viewWrap > div span {
  display: block;
  height: 22px;
  line-height: 22px;
  border: 1px solid #d6d6df;
  background: #ebebf3;
  position: absolute;
  top: 8px;
  left: 8px;
  min-width: 10px;
  padding: 0 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 15px; }

.service_manage .w_product .view .viewWrap ul li span + span {
  left: 36px; }

.service_manage .w_product .view .viewWrap ul li span.url {
  font-size: 14px;
  background: #ebebf3 url("../images/sub/urlImg.png") no-repeat 5px 50%;
  padding: 0 5px 0 22px; }

.service_manage .w_product .view .viewWrap > div {
  margin-top: 8px;
  padding: 0 4px;
  position: relative; }

.service_manage .w_product .view .viewWrap > div span.input {
  font-size: 14px;
  top: 4px;
  left: 9px; }

.service_manage .w_product .view .viewWrap > div .input_only, .service_manage .w_product .view > div button {
  box-sizing: border-box;
  width: 100%; }

.service_manage .w_product .view .viewWrap > div .input_only {
  height: 42px;
  line-height: 40px;
  border-color: #d6d6df;
  margin-bottom: 4px;
  padding: 0 20px !important; }

#content .service_manage .w_product .view .viewWrap > div button {
  height: 38px;
  line-height: 36px;
  margin-top: 0;
  font-weight: normal;
  font-size: 16px;
  color: #fff;
  background: #1fabe6;
  border-color: #1fabe6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.service_manage .w_product > div.clear .product {
  margin-left: 100px; }

#content .product table {
  border: none;
  width: 100%;
  max-width: 100%; }

#content .product table th, #content .product table td {
  border: 1px solid #e5e5e5;
  line-height: 1.5em;
  padding: 10px 10px;
  text-align: left; }

#content .product table th {
  background: #f5f5f5; }

#content .product table td .input_only {
  box-sizing: border-box;
  width: 100%; }

#content .product table td .errorMsg {
  display: inline-block;
  margin-top: 3px;
  font-size: 13px;
  color: #f12121;
  height: 20px; }

#content .product table td a {
  text-decoration: underline;
  color: #1e75d6; }

#content .product table td ul {
  margin: 40px 0; }

.survey-approve-pop {
  background: #fff;
  width: 850px;
  height: auto;
  top: 3%;
  left: 50%;
  padding: 20px 15px;
  border: 1px solid #000;
  box-sizing: border-box;
  display: none;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 15; }
  .survey-approve-pop h5 {
    font-size: 20px; }
  .survey-approve-pop .top button, .survey-approve-pop .layerPop .top button {
    background: url("../img/btn_close.png") no-repeat center;
    text-indent: -9999px;
    min-width: 35px;
    border: none;
    margin-top: 0; }
  .survey-approve-pop textarea {
    width: 100%; }
  .survey-approve-pop .st {
    font-weight: bold;
    margin-bottom: 5px; }

.survey-approve-pop2 .desc {
  background-color: #aaaaaa;
  padding: 10px 5px;
  margin-bottom: 5px; }

.survey-approve-pop2 .error-message {
  color: red;
  margin-bottom: 10px; }

.survey-approve-pop3 .desc {
  background-color: #aaaaaa;
  padding: 10px 5px;
  margin-bottom: 5px; }

.survey-approve-pop3 .reason {
<<<<<<< HEAD
    border: 1px solid #000;
    padding: 10px 5px;
    margin-bottom: 25px; }
    
.stat thead th a {
  width:77px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #444;
  display: block;
  line-height: 1.3em;
  position: relative; }

.stat thead th a span {
  position: absolute;
  text-indent: -9999px;
  display: none;
  top: 0;
  height: 100%;
  margin-left: 3px; }

.stat thead th a.on span {
  display: inline-block; }

.stat thead th a span:after {
  position: absolute;
  text-indent: 0;
  top: 50%;
  margin-top: -8.5px;
  left: 0;
  height: auto;
  line-height: normal;
  display: block;
  content: "▼";
  clear: both;
  font-size: 10px; }

.stat thead th a span.asc:after {
  content: "▲";
  margin-top: -7px; }
=======
  border: 1px solid #000;
  padding: 10px 5px;
  margin-bottom: 25px; }
>>>>>>> feature/BIZCHAT-1070
